:root {
    /* Tells the browser it is allowed to animate keyword sizes like 'auto' */
    interpolate-size: allow-keywords;
}

.projectContainer{
    display: flex;
    flex-direction: column;
}

.projectCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #029d61;
    transition: background-color 0.2s;
    padding: 0em 1em;
    z-index: 0;
    min-height: 2vh;
    color: #2e2e2e;
    overflow: auto;
}

.projectCard:hover{
    background-color: #03c479;
    cursor: pointer;
}
.projectCard.true{
    background-position: -100% 0;
}

.cardWrapper {
    overflow: hidden;
    background-color: #4e4e4e;
    display: grid;
    grid-template-columns: 1.5fr 7.5fr;
    padding-left: 1em;
    padding-right: 1em;
}

.cardWrapper:hover{
    cursor: default;
}

.cardWrapper.closed {
  grid-template-rows: 0fr;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0;
  transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s ease-in-out, grid-template-rows 0.4s ease-in-out;
}

.cardWrapper.open {
  grid-template-rows: 1fr;
  padding-top: 1em;
  padding-bottom: 1em;
  transition: padding-top 0.4s ease-in-out, padding-bottom 0.4s ease-in-out, grid-template-rows 0.4s ease-in-out;
}

.cardWrapper > * {
  min-height: 0;
}

.wrapperBottom{
    width: 100%;
    height: 0px;
    transition: fill 0s, height 0.45s ease-in-out;
}

.wrapperBottom.open{
    width: 100%;
    height: 1em;
    fill: #029d61;
    transition: fill 0s, height 0.4s ease-in-out;
}

.cardBody{
    margin-bottom: 0.5em;
    background-color: #029d61;
}

.projectDescription{
    z-index: 1;
    padding: 0.5em 1.5em;
    height: 90%;
    transition: opacity 0.2s ease-in-out;
    opacity: 0%;
    display: flex;
    flex-direction: column;
    font-size: 0.75vw;
    height: 2vh;
}

.projectDescription:hover{
    background-color: #4e4e4e;
    opacity: 100%;
    height: 4vh;
}

.projectDescriptionText {
    flex: 1;
}

.projectDescriptionTitle{
    margin-bottom: 0;
    font-size: 1vw;
}

.openModal{
    background-color: #029d61;
    padding: 0.75em 1.5em;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    font-family: 'Inter';
    font-weight: 400;
    border: 1px solid #029d61;
    color: #d9d9d9;
    justify-self: flex-end;
    font-size: 0.75vw;
}

.openModal:hover{
    background-color: #03c479;
    cursor: pointer;
    border: 1px solid #03c479;
}

.content{
    cursor: default;
}

.cardLeft{
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.cardRight {
    border-left: 1px solid #7e7e7e;
    padding-left: 1.5em;
    display: flex;
    flex-direction: column;
    color: #d9d9d9;
}

.cardPText {
    margin: 0 0 0.5em 0;
    white-space: pre-wrap;
}

.imgSelect{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-right: 1em;
    width: 100%;
    background-color: #2e2e2e;
    border: 1px solid #029d61;
}

.selectPrev{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #029d61;
    padding: 0.25em;
    transition: background-color 0.2s ease-in-out;
    user-select: none;
    grid-column: 1;
    padding: 0.5em 1em;
}

.selectPrev:hover{
    cursor: pointer;
    background-color: #03c479;
}

.selectNext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #029d61;
    padding: 0.25em;
    transition: background-color 0.15s ease-in-out;
    user-select: none;
    grid-column: 3;
    padding: 0.5em 1em;
}

.selectNext:hover{
    cursor: pointer;
    background-color: #03c479;
}


.currNum{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    color:#d9d9d9;
    grid-column: 2;
    flex-grow: 1;
}

.cardImg {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 1;
}

.cardImg.hidden {
    display: none;
}

.cardText{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.minorDesc {
    font-size: 11pt;
    padding-left: 0.75em;
    font-style: italic;
}

.download {
    padding: 0.25em 1em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-family: 'Inter';
    text-decoration: none;
    color: #2e2e2e;
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1em;
    background-color: #029d61;
    transition: background-color 0.2s;
}

.download:hover {
    background-color: #03c479;
}

.postTxtIcon {
    align-self: center;
    margin-left: 0.2em;
    height: 1.5vw;
}

.chevron {
    margin: 0.5em 0;
    margin-left: auto;
    font-weight: 700;
}

.headerChevron {
    font-size: 2.5vh;
    align-self: center;
    margin: 0 0 0 auto;
    user-select: none;
}

.siteName {
    margin: 0.5em 0;
    margin-right: auto;
    font-weight: 500;
}

.p1 {
    grid-column: 1;
    grid-row: 1;
}

.p2 {
    grid-column: 1;
    grid-row: 2;
}

.p3 {
    grid-column: 1;
    grid-row: 3;
}

.p4 {
    grid-column: 1;
    grid-row: 4;
}


@media (max-width:600px) {
    .projectDescriptionTitle{
        font-size: 12pt;
    }
    .projectDescriptionText{
        font-size: 10pt;
    }
    .openModal{
        font-size:10pt;
    }
}