.projectContainer{
    display: flex;
    flex-direction: column;
}

.projectCard{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #029d61;
    padding: 1.5em 1.5em 1.5em 1.5em;
    transition: background-color 0.2s ease-in-out;
    z-index: 0;
    height: 2vh;
    color: #2e2e2e;
}

.projectCard:hover{
    cursor: pointer;
    background-color: #03c479;
}
.projectCard.true{
    background-color: #03c479;
}

.collapsed{
    max-height: 0;
    overflow: hidden;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: #4e4e4e;
}

.expanded{
    height: auto;
    background-color: #4e4e4e;
    border-left: 0.5em solid #029d61;
    border-right: 0.5em solid #029d61;
    border-bottom: 0.5em solid #029d61;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.expanded.true{
    transition: border-color 0.2s ease-in-out;
    border-color: #03c479;
}

.expanded.false{
    transition: border-color 0.2s ease-in-out;
}

.cardBody{
    margin-bottom: 0.5em;
    background-color: #029d61;
}

.projectDescription{
    z-index: 1;
    padding: 0.5em 1.5em;
    height: 90%;
    transition: opacity 0.2s ease-in-out;
    opacity: 0%;
    display: flex;
    flex-direction: column;
    font-size: 0.75vw;
    height: 2vh;
}

.projectDescription:hover{
    background-color: #4e4e4e;
    opacity: 100%;
    height: 4vh;
}

.projectDescriptionText {
    flex: 1;
}

.projectDescriptionTitle{
    margin-bottom: 0;
    font-size: 1vw;
}

.openModal{
    background-color: #029d61;
    padding: 0.75em 1.5em;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    font-family: 'Inter';
    font-weight: 400;
    border: 1px solid #029d61;
    color: #d9d9d9;
    justify-self: flex-end;
    font-size: 0.75vw;
}

.openModal:hover{
    background-color: #03c479;
    cursor: pointer;
    border: 1px solid #03c479;
}

.cardImg{
    margin-right: 1em;
}

.cardText{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.minorDesc {
    font-size: 11pt;
    padding-left: 1.5em;
    font-style: italic;
}

.cardRight {
    display: flex;
    flex-direction: column;
}

.download {
    background-color: #029d61;
    padding: 0.25em 1em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-family: 'Inter';
    text-decoration: none;
    color: #2e2e2e;
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1em;
}

.download:hover {
    background-color: #03c479;
    color: #2e2e2e;
}

.chevron {
    margin: 0.5em 0;
    margin-left: auto;
    font-weight: 700;
}

.siteName {
    margin: 0.5em 0;
    margin-right: auto;
    font-weight: 500;
}

.p1 {
    grid-column: 1;
    grid-row: 1;
}

.p2 {
    grid-column: 1;
    grid-row: 2;
}

.p3 {
    grid-column: 1;
    grid-row: 3;
}

.p4 {
    grid-column: 1;
    grid-row: 4;
}


@media (max-width:1099px) {
    .projectDescriptionTitle{
        font-size: 12pt;
    }
    .projectDescriptionText{
        font-size: 10pt;
    }
    .openModal{
        font-size:10pt;
    }
}
