section {
    background-color: #2e2e2e;
    border: 0.5em solid #029d61;
    display: block;
    padding: 2em;
    font-family: 'Inter';
    color: #d9d9d9;
    height: auto;
    margin: auto;
    overflow-y: auto;
    min-height: 0;
}

section h2{
    font-weight: 550;
}

table {
    background-color: #5e5e5e;
    text-align: center;
    border-collapse: collapse;
}

.tableHead th {
    padding: 0.5em 2em;
    background-color: #029d61;
    border: 1px solid #029d61;
}
.tableRow td {
    padding: 1em 2em;
    background-color: #2e2e2e;
    border: 1px solid #029d61;
    border-top: 0;
}

.tableDownload {
    background-color: #029d61;
    padding: 0.25em 1em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-family: 'Inter';
    font-weight: 300;
}

.tableDownload:hover {
    background-color: #03c479;
}

.contactForm{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    padding: auto;
}

.contactLabel{
    grid-column: 2;
    margin: 1em;
    font-family: 'Inter';
    text-align: right;
    align-self: center;
}

.contactField{
    grid-column: 3;
    margin: 1em;
    border: 1px solid #029d61;
    font-family: 'Inter';
    padding: 0.5em;
    background-color: #5e5e5e;
    outline: 1px solid #03c479;
    color: #d9d9d9;
}

.contactField:focus{
    border: 1px solid #62fdc2;
}

.contactField:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #5e5e5e inset !important;
  -webkit-text-fill-color: #d9d9d9 !important;
}

.submit{
    background-color: #029d61;
    color: #2e2e2e;
    border: 1px solid #029d61;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 1vw;
    padding: 1em 3em;
    align-self: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.TitleTxt{
    font-size: 1.5vw;
}


@media (max-width: 1099px) {
    .submit{
        background-color: #029d61;
        color: #d9d9d9;
        border: 1px solid #029d61;
        font-family: 'Inter';
        font-weight: 300;
        font-size: 1.5vw;
        padding: 1em 3em;
        align-self: center;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    .TitleTxt{
        font-size: 20pt;
    }
}

.submit:hover{
    background-color: #03c479;
    border: 1px solid #03c479;
}

.submitContainer{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.Projects{
    display: flex;
    flex-direction: column;
}

.tableDownload {
    color: #2e2e2e;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5em 2em;
}