@media (min-width: 1201px) {
  .headerText {
    font-size: 2.2vw;
    text-align: center;
    font-family: 'Inter';
    font-weight: 650;
    margin: auto;
    color: #d9d9d9;
  }
}

@media (max-width: 1200px) {
  .headerText {
    font-size: 4vw;
    text-align: center;
    font-family: 'Inter';
    font-weight: 650;
    margin: auto;
    color: #d9d9d9;
  }
}

@media (max-width: 600px) {
  .headerText {
    font-size: 6vw;
    text-align: center;
    font-family: 'Inter';
    font-weight: 650;
    margin: auto;
    color: #d9d9d9;
  }
}